<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card border-info">
            <div class="card-body">
                Bienvenido al Modulo de Ventas
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary col-12" routerLink="/venta" routerLinkActive="active">Ingresar</button>
            </div>
            <p class="card-text text-center"  ><small class="text-muted">Hacer una nueva venta.</small></p>
        </div>
    </div>
    <div class="col">
        <div class="card border-info">
            <div class="card-body">
                Bienvenido al Modulo de Clientes
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary col-12" routerLink="/listar-cliente" routerLinkActive="active">Ingresar</button>
            </div>
            <p class="card-text text-center"><small class="text-muted">Consultar el listado de clientes.</small></p>
        </div>
    </div>
</div>